__pycache__/
get_layer_changes/image/
prediction_base_image/a.cache
venv
get_layer_changes/cwd/
cert/
data/
prediction_base_image/model_testing_scripts/cwd*
taggen_openshift_image/columbus/systags/
taggen_openshift_image/.ipynb_checkpoints/
taggen_openshift_image/columbus/.ipynb_checkpoints/
taggen_openshift_image/cwd/
load_model_s3/test_scripts/cwd/
prediction_openshift_image/model/
prediction_openshift_image/model_testing_scripts/cwd/
prediction_openshift_image/model_testing_scripts/cwd_mnist/
prediction_openshift_image/model_testing_scripts/cwd_mostly_ml/
prediction_openshift_image/model_testing_scripts/cwd_mostly_ml_2/
prediction_openshift_image/model_testing_scripts/cwd_mostly_ml_3/
prediction_openshift_image/model_testing_scripts/cwd_mostly_ml_4/
prediction_openshift_image/model_testing_scripts/cwd_mostly_sl/
prediction_openshift_image/.ipynb_checkpoints/
prediction_openshift_image/.vscode/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd_mnist/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd_mostly_ml/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd_mostly_ml_2/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd_mostly_ml_3/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd_mostly_ml_4/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd_mostly_sl/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd.zip
prediction_openshift_image/model_testing_scripts/cwd*/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd*/
prediction_XGBoost_openshift_image/model_testing_scripts/cwd*.zip
prediction_XGBoost_openshift_image/model_testing_scripts/100_estimator/
prediction_XGBoost_openshift_image/model_testing_scripts/10_estimator/
prediction_XGBoost_openshift_image/model_testing_scripts/50_estimator/
prediction_XGBoost_openshift_image/model_testing_scripts/5_estimator/
prediction_XGBoost_openshift_image/model_testing_scripts/100_estimator_bak/
prediction_XGBoost_openshift_image/model_testing_scripts/1_estimator/
prediction_XGBoost_openshift_image/model_testing_scripts/eval_bak/
prediction_XGBoost_openshift_image/model_testing_scripts/1_estimator_1_depth/
prediction_XGBoost_openshift_image/model_testing_scripts/100_estimator_1_depth/
prediction_XGBoost_openshift_image/model_testing_scripts/figs/
prediction_XGBoost_openshift_image/model_testing_scripts/800_estimator/
prediction_XGBoost_openshift_image/model_testing_scripts/400_estimator/
prediction_XGBoost_openshift_image/model_testing_scripts/no_sampling/
Praxi-Pipeline/prediction_XGBoost_openshift_image/model_testing_scripts/cwd*/
prediction_XGBoost_openshift_image/model_testing_scripts/data_0_results/
prediction_XGBoost_openshift_image/model_testing_scripts/data0_results/
prediction_XGBoost_openshift_image/model_testing_scripts/archived_exprs/
prediction_XGBoost_openshift_image/model_testing_scripts/data3_results/
prediction_XGBoost_openshift_image/model_testing_scripts/results/
gen_data_docker_image/python/dockerfiles/
gen_data_docker_image/python/dockerfiles_failed/
gen_data_docker_image/python/dockerfiles_failed copy/
gen_data_docker_image/python/dockerfiles_failed_bak/
gen_data_docker_image/python/dockerfiles_failed copy 2/
gen_data_docker_image/python/dockerfiles_SL/
gen_data_docker_image/python/changeset_gen/cwd_bak/
gen_data_docker_image/python/dockerfiles_copy/
gen_data_docker_image/python/changeset_gen/cwd/
gen_data_docker_image/python/dockerfiles_SL.zip