absl-py==1.4.0
attrs==23.2.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
Deprecated==1.2.14
docstring_parser==0.16
fire==0.6.0
google-api-core==2.18.0
google-api-python-client==1.12.11
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
idna==3.6
jsonschema==3.2.0
kfp==1.8.18
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.5
kfp-tekton==1.5.0
kubernetes==17.17.0
markdown-it-py==3.0.0
mdurl==0.1.2
oauthlib==3.2.2
proto-plus==1.23.0
protobuf==3.20.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==1.10.15
Pygments==2.17.2
pyparsing==3.1.2
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
PyYAML==5.3.1
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==0.10.1
rich==13.7.1
rsa==4.9
shellingham==1.5.4
six==1.16.0
strip-hints==0.1.10
tabulate==0.9.0
termcolor==2.4.0
typer==0.12.0
typer-cli==0.12.0
typer-slim==0.12.0
typing_extensions==4.10.0
uritemplate==3.0.1
urllib3==1.26.15
websocket-client==1.7.0
wrapt==1.16.0
